@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
body, html{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.screenfilter{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #222;
    opacity: .7;
}
.dispalyfilter{
    display: block;
}

.sidebar{
  float: left;
  width: 100px;
  transform: translateX(-100px);
  height: 100%;
  background: #3498db;
  transition: 0.8s all;
    
    z-index: 99;
    position: fixed;
}
.side{
    transform: translateX(0);
}



.sidebar ul{
  margin: 0;
  padding: 0;
}

.sidebar ul li{
  list-style: none;
}

.sidebar ul li a{
  text-decoration: none;
  color: white;
  height: 80px;
  width: 100%;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  display: block;
  transition: 0.6s all;
}

.sidebar ul li a:hover{
  background: #f39c12;
}

.sidebtn{
  padding: 0 10px;
  font-size: 40px;
  text-decoration: none;
  color: #3498db;
  font-family: Ionicons;
  cursor: pointer;
    
    height: 0;
    display: block;
    margin-left: 100px;
    position: relative;
    transition: 0.8s all;
}

.sidebtn:before{
  content: '\f20d';
}

.sidebtnc:before{
  content: '\f129';
}

#delete{
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

