<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Marro</title>
    <link rel="stylesheet" href="master.css">
    <link rel="stylesheet" href="loaderanima.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
    <div class="wrap">
        <div class="text" id="btn1">로그인1</div>
        <div class="svg-wrapper" id="wrapper">
            <svg height="60" width="320">
     <rect class="shape" height="60" width="320" />
     </svg>
        </div>

    </div>

    <div class="loader-wrap">
        <div class="loader">
            로그인2
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <script src="event.js">


    </script>
</body>

</html>
